<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/login.css" />
    <script src="/js/users/login.js" defer></script>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>

    <main>
      <section class="login-container">
        <div class="form-title">
          <h1>E-BEER</h1>
          <p>Inicia sesión y accedé a nuestra tienda</p>
        </div>

        <article class="form-container">
          <form action="/users/login" method="POST">
            <label for="email">
              <input class="inputs" type="email" name="email" id="email"
              placeholder="Ingresar correo electrónico" value="<%=
              locals.oldData ? oldData.email : "" %>" />
            </label>

            <div id="emailError" class="flash-errors"></div>
            <% if (locals.errors && errors.email) { %>
            <p class="flash-errors"><%= errors.email.msg %></p>
            <% } %>
            

            <label for="password">
              <input
                class="inputs"
                type="password"
                name="password"
                id="password"
                placeholder="Ingresar contraseña"
              />
            </label>

            <div id="passwordError" class="flash-errors"></div>
            <% if (locals.errors && errors.password) { %>
            <p class="flash-errors"><%= errors.password.msg %></p>
            <% } %>

            <button class="btn-yellow" type="submit">Iniciar sesión</button>

            <div class="remember-me">
              <label for="rememberMe">
                <input type="checkbox" name="rememberMe" /> Recordarme</label
              >
            </div>

            <section class="links-container">
              <a href="/users/register"
                >¿No tenés cuenta? <span>Crear cuenta</span></a
              >
            </section>
          </form>
        </article>
      </section>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
