<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/my-profile.css" />
    <script src="/js/users/updatePass.js" defer></script>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>

    <main>
      <section class="info-profile-container">
        <article class="profile-picture">
          <img
            src="/images/users/<%= user.profile_picture %>"
            alt="fotoDePerfil"
          />
        </article>

        <article class="info-profile-container-desc">
          <h3>Nombre:</h3>
          <p><%= user.first_name %> <%= user.last_name %></p>
        </article>
      </section>

      <section class="bottomProfile">
        <article class="title">
          <h2>Editar contraseña</h2>
        </article>

        <form
          action="/users/my-password/edit?_method=PUT"
          method="post"
        >
          <article class="input-container">
            <label for="password">Contraseña</label>
            <input
              name="password"
              id="password"
              type="password"
              class="inputs"
              placeholder="Ingresá tu nueva contraseña"
            />
          
            <div id="passwordError" class="flash-errors"></div>
            <% if (locals.errors && errors.password) { %>
              <div class="flash-errors"><%= errors.password.msg %></div>             
            <% } %>
          </article>

          <button type="submit" class="btn-yellow btn-edit">Modificar Contraseña</button>
        </form>
      </section>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
