<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/my-profile.css" />
    <script src="/js/users/update.js" defer></script>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>

    <main>
      <section class="info-profile-container">
        <article class="profile-picture">
          <img
            src="/images/users/<%= userLogged.profile_picture %>"
            alt="foto de perfil"
          />
        </article>

        <article class="info-profile-container-desc">
          <h3>Nombre y apellido:</h3>
          <br />
          <p><%= userLogged.first_name %> <%= userLogged.last_name %></p>
        </article>
      </section>

      <section class="bottomProfile">
        <article class="title">
          <h2>Editar perfil</h2>
        </article>

        <form
          action="/users/myProfile/edit/?_method=PUT"
          method="post"
          enctype="multipart/form-data"
        >
          <article class="input-container">
            <label for="email">Ingresá un nuevo email</label>
            <input
              name="email"
              id="email"
              type="email"
              class="inputs"
              value="<%= user.email %>"
          />
          <div id="emailError" class="flash-errors"></div>
          <% if (locals.errors && errors.email) { %>
            <div class="flash-errors"><%= errors.email.msg %></div>             
          <% } %>

          </article>
          <article class="input-container">
            <label for="profile_picture">Actualizá tu imagen</label>
            <input
              name="profile_picture"
              id="profile_picture"
              accept=".jpg"
              type="file"
              class="inputs"
          />
          <div id="profile_pictureError" class="flash-errors"></div>
            <% if (locals.errors && errors.profile_picture) { %>
               <div class="flash-errors"><%= errors.profile_picture.msg %></div>             
              <% } %>

          </article>
          <article class="input-container">
            <label for="contact_number">Ingresá un nuevo teléfono</label>
            <input
              name="contact_number"
              id="contact_number"
              type="tel"
              class="inputs"
              value="<%= user.contact_number %>"
            />

            <div id="contact_numberError" class="flash-errors"></div>
          <% if (locals.errors && errors.contact_number) { %>
            <div class="flash-errors"><%= errors.contact_number.msg %></div>             
          <% } %>

          </article>
          <article class="input-container">
            <label for="address">Ingresá un nuevo domicilio</label>
            <input
              name="address"
              id="address"
              class="inputs"
              type="text"
              value="<%= user.address %>"
            />
          <div id="addressError" class="flash-errors"></div>
          <% if (locals.errors && errors.address) { %>
            <div class="flash-errors"><%= errors.address.msg %></div>             
          <% } %>

          </article>

          <button type="submit" class="btn-yellow btn-edit">Actualizar Mis Datos</button>
        </form>
      </section>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
