<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/form-styles.css" />
    <script src="/js/users/updateCrud.js" defer></script>
  </head>

  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <form
        class="form"
        action="/users/<%= user.id %>/edit?_method=PUT"
        method="POST"
        enctype="multipart/form-data"
      >
        <h2 class="title">Editar usuario</h2>
        <p>ID: <%= user.id %></p>
        
        <input
          class="input"
          type="text"
          name="first_name"
          id="first_name"
          placeholder="Nombre"
          value="<%= user.first_name %>"
        />

        <div id="first_nameError" class="flash-errors"></div>
            <% if (locals.errors && errors.first_name) { %>
                <div class="flash-errors"><%= errors.first_name.msg %></div>             
            <% } %>

        <input
          class="input"
          type="text"
          name="last_name"
          id="last_name"
          placeholder="Apellido"
          value="<%= user.last_name %>"
        />

        <div id="last_nameError" class="flash-errors"></div>
            <% if (locals.errors && errors.last_name) { %>
                <div class="flash-errors"><%= errors.last_name.msg %></div>             
            <% } %>

        <input
          class="input"
          type="text"
          name="email"
          id="email"
          placeholder="Mail"
          value="<%= user.email %>"
        />

        <div id="emailError" class="flash-errors"></div>
            <% if (locals.errors && errors.email) { %>
                <div class="flash-errors"><%= errors.email.msg %></div>             
            <% } %>

        <input
          class="input"
          type="password"
          name="password"
          id="password"
          placeholder="Contraseña"
          value="<%= user.password %>"
        />

        <div id="passwordError" class="flash-errors"></div>
            <% if (locals.errors && errors.password) { %>
                <div class="flash-errors"><%= errors.password.msg %></div>             
            <% } %>

        <input
          class="input"
          type="text"
          name="contact_number"
          id="contact_number"
          placeholder="Número de teléfono"
          value="<%= user.contact_number %>"
        />

        <div id="contact_numberError" class="flash-errors"></div>
            <% if (locals.errors && errors.contact_number) { %>
                <div class="flash-errors"><%= errors.contact_number.msg %></div>             
            <% } %>

        <input
          class="input"
          type="text"
          name="address"
          id="address"
          placeholder="Domicilio"
          value="<%= user.address %>"
        />

        <div id="addressError" class="flash-errors"></div>
            <% if (locals.errors && errors.address) { %>
                <div class="flash-errors"><%= errors.address.msg %></div>             
            <% } %>

        <input
          class="input"
          type="date"
          name="birth_date"
          id="birth_date"
          placeholder="Fecha de nacimiento"
          value="<%= user.birth_date %>"
        />

        <div id="birth_dateError" class="flash-errors"></div>
            <% if (locals.errors && errors.birth_date) { %>
                <div class="flash-errors"><%= errors.birth_date.msg %></div>             
            <% } %>

        <div class="picture">
          <label for="profile_picture">Selecciona una imagen del usuario</label>
          <input type="file" id="profile_picture" name="profile_picture" accept=".jpg" />
        </div>

        <div id="profile_pictureError" class="flash-errors"></div>
            <% if (locals.errors && errors.profile_picture) { %>
                <div class="flash-errors"><%= errors.profile_picture.msg %></div>             
            <% } %>

        <div class="buttons-container">
          <button class="button" type="submit">Editar</button>
        </div>
      </form>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
