<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/form-styles.css" />
    <script src="/js/users/create.js" defer></script>
  </head>

  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <section class="container">
        <form class="form" action="/users/create-user" method="POST">
          <h2 class="title">CREAR USUARIO</h2>

          <label for="first_name">NOMBRE</label>
          <input class="inputs" type="text" id="first_name" name="first_name"
          placeholder="Nombre" value="<%= oldData ? oldData.first_name : "" %>" />

          <div id="first_nameError" class="flash-errors"></div>
        
          <% if (locals.errors && errors.first_name) { %>
          <div class="flash-errors"><%= errors.first_name.msg %></div>
          <% } %> 
          
          <label for="last_name">APELLIDO</label>
          <input class="inputs" type="text" id="last_name" name="last_name"
          placeholder="Apellido" value="<%= oldData ? oldData.last_name : "" %>"
          />

          <div id="last_nameError" class="flash-errors"></div>

          <% if (locals.errors && errors.last_name) { %>
          <div class="flash-errors"><%= errors.last_name.msg %></div>
          <% } %> 
          
          <label for="email">EMAIL</label>
          <input class="inputs" type="email" id="email" name="email"
          placeholder="Correo electrónico" value="<%= oldData ? oldData.email : ""%>" />

          <div id="emailError" class="flash-errors"></div>

          <% if (locals.errors && errors.email) { %>
          <div class="flash-errors"><%= errors.email.msg %></div>
          <% } %>

          <label for="password">PASSWORD</label>
          <input
            class="inputs"
            type="password"
            id="password"
            name="password"
            placeholder="Contraseña"
          />

          <div id="passwordError" class="flash-errors"></div>

          <% if (locals.errors && errors.password) { %>
          <div class="flash-errors"><%= errors.password.msg %></div>
          <% } %> 
          
          <label for="contact_number">TELÉFONO</label>
          <input class="inputs" type="number" name="contact_number"
          id="contact_number" placeholder="Número de teléfono" value="<%= oldData ? oldData.contact_number : "" %>" />

          <div id="contact_numberError" class="flash-errors"></div>

          <% if (locals.errors && errors.contact_number) { %>
          <div class="flash-errors"><%= errors.contact_number.msg %></div>
          <% } %> 
          
          <label for="birth_date">FECHA DE NACIMIENTO</label>
          <input class="inputs" type="date" name="birth_date" id="birth_date" 
          placeholder="Ingresar fecha de nacimiento" value="<%= oldData ? oldData.birth_date : "" %>" />

          <div id="birth_dateError" class="flash-errors"></div>

          <% if (locals.errors && errors.birth_date) { %>
          <div class="flash-errors"><%= errors.birth_date.msg %></div>
          <% } %> 
          
          <label for="address">DOMICILIO</label>
          <input class="inputs" type="text" name="address" id="address"
          placeholder="Domicilio completo" value="<%= oldData ? oldData.address : "" %>" />

          <div id="addressError" class="flash-errors"></div>

          <% if (locals.errors && errors.address) { %>
          <div class="flash-errors"><%= errors.address.msg %></div>
          <% } %>

          <div class="buttons-container">
            <button type="submit" class="button">Crear usuario</button>
          </div>
        </form>
      </section>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
