<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/form-styles.css" />
  </head>

  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <form
        class="form"
        action="/products/<%= product.id %>/delete?_method=delete"
        method="POST"
      >
        <h2 class="title">Eliminar productos</h2>
        <div class="searchNav">
          <input
            type="text"
            placeholder="Buscar productos, marcas y más…"
            maxlength="120"
            autocapitalize="off"
            spellcheck="false"
            autocomplete="off"
            value="<%= product.id %>"
          />
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <input
          class="input"
          type="text"
          name="name"
          placeholder="Nombre del producto"
          value="<%= product.name %>"
        />
        <input
          class="input"
          type="text"
          name="category"
          placeholder="Categoría"
          value="<%= product.category %>"
        />
        <input
          class="input"
          type="text"
          name="size"
          placeholder="Medida"
          value="<%= product.size %>"
        />
        <input
          class="input"
          type="number"
          name="price"
          placeholder="Precio"
          value="<%= product.price %>"
        />

        <input
          class="input"
          type="text"
          name="description"
          placeholder="Descripción"
          value="<%= product.description %>"
        />

        <div class="buttons-container">
          <button class="delete-button" type="submit">Borrar</button>
        </div>
      </form>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
