<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/product-detail.css" />
  </head>

  <body>
    <%- include('./partials/header.ejs') %>

    <main class="product-container">
      <section class="searchbar">
        <form action="/" method="POST">
          <input type="text" name="search" placeholder="Buscar producto" />

          <button type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </section>

      <section class="card-container">
        <article class="img-container">
          <img src="/images/<%= product.image %>" alt="" />
        </article>
        <article class="card-description-container">
          <div class="card-title">
            <h2><%= product.name %></h2>
            <span>$<%= product.price %></span>
          </div>
          <div class="card-description">
            <p><%= product.description %></p>
          </div>

          <div class="btns-container">
            <div class="count-btn">
              <button>-</button>
              <span>1</span>
              <button>+</button>
            </div>

            <button class="btn-yellow">Añadir al carrito</button>
          </div>
        </article>
      </section>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
