<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css" />
  </head>

  <body>
    <%- include('./partials/header.ejs') %>
        <% if (locals.cart.length > 0) { %>
          <main class="mainCart">
            <section class="productsContainer">
              <section class="productsList">
                <h2>Productos</h2>
                <% locals.cart.forEach(product => { %> <%-
                  include('./partials/cart.ejs', {product}) %> <% }) %>
              </section>
      
              <div class="purchase">
                <h2>Su orden</h2>
                <article class="summary">
                  <div class="productsValue">
                    <p>Producto/s</p>
                    <p>$<%= locals.cart.reduce((acumulador, product) => {
                      return acumulador + (product.price * product.quantity)
                    }, 0) %></p>
                  </div>
                  <div class="deliveryValue">
                    <p>Envío</p>
                    <p>$1.900</p>
                  </div>
                  <div class="totalValue">
                    <p class="total">TOTAL:</p>
                    <p class="totalNumber"> $<%= locals.cart.reduce((acumulador, product) => {
                      return acumulador + (product.price * product.quantity)
                    }, 0) %></p>
                  </div>
      
                  <article class="btn-yellow">
                    <div>
                      <a href="">COMPRAR</a>
                    </div>
                  </article>
                </article>
              </div>
            </section>
          </main>
        <% } else { %>
          <main class="cart-container">
            <section class="emptyCart">
              <h2>Ups, ¡Esta vacío!</h2>
      
              <article class="emptyCartMessage">
                <div>
                  <h3>No tenés ningún producto en tu carrito.</h3>
                </div>
              </article>
            </section>
            
            <section class="backToHome">
              <article class="btn-yellow">
                <div>
                  <a href="/home">Volver</a>
                </div>
              </article>
            </section>
          </main>
        <% } %>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
