<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/product-list.css" />
    <link rel="stylesheet" href="/css/partials/card.css" />
  </head>
  <body>
    <%- include('./partials/header.ejs') %>

    <main class="pl-products">
      <section class="pl-products-title">
        <h2>Nuestros Productos</h2>
      </section>

      <section class="pl-filters">
        <article class="searchbar">
          <form action="/" method="POST">
            <input type="text" name="search" placeholder="Buscar producto" />

            <button type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>
        </article>

        <article class="pl-container-selects">
          <form action="/marca" method="POST" class="pl-form-brand">
            <select>
              <option>Marca</option>
              <option value="">Stella Artois</option>
              <option value="">Corona</option>
              <option value="">Patagonia</option>
              <option value="">Quilmes</option>
            </select>
          </form>

          <form action="/medida" method="POST" class="pl-form-size">
            <select>
              <option>Medida</option>
              <option value="">1 litro</option>
              <option value="">473 ml</option>
              <option value="">330 ml</option>
            </select>
          </form>
        </article>
      </section>

      <section class="cards-container">
        <%- include('./partials/card.ejs') %> <%- include('./partials/card.ejs')
        %> <%- include('./partials/card.ejs') %> <%-
        include('./partials/card.ejs') %> <%- include('./partials/card.ejs') %>
        <%- include('./partials/card.ejs') %> <%- include('./partials/card.ejs')
        %> <%- include('./partials/card.ejs') %>
      </section>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
