<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/product-list.css" />
  </head>

  <body>
    <%- include('./partials/header.ejs') %> 
    <main>
      <section class="pl-products">
        <section>
          <h2 class="pl-titulo">Nuestros productos</h2>
        </section>
        <section class="filters">
          <div class="pl-container-search">
            <form action="/" method="POST" class="pl-search">
              <input type="text" name="search" placeholder="Buscar producto" />
              <button type="submit" class="pl-loop-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </form>
          </div>
          <div class="pl-form-b-s">
            <form action="/marca" method="POST" class="pl-form-b">
              <select class="pl-brand">
                <option>Marca</option>
                <option value="">Stella Artois</option>
                <option value="">Corona</option>
                <option value="">Patagonia</option>
                <option value="">Quilmes</option>
              </select>
            </form>
            <form action="/Medida" method="POST" class="pl-form-s">
              <select class="pl-size">
                <option>Medida</option>
                <option value="">1 litro</option>
                <option value="">473 ml</option>
                <option value="">330 ml</option>
              </select>
            </form>
          </div>
        </section>

        <section class="pl-articles">
          <%- include('./partials/card.ejs') %>
          <%- include('./partials/card.ejs') %>
          <%- include('./partials/card.ejs') %>
          <%- include('./partials/card.ejs') %>
      </section>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
