<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/my-profile.css" />
  </head>
  <body>
    <%- include('./partials/header.ejs') %>

    <main>
      <section class="info-profile-container">
        <article class="profile-picture">
          <img
            src="/images/users/<%= user.profile_picture %>"
            alt="fotoDePerfil"
          />
        </article>

        <article class="info-profile-container-desc">
          <h3>Tipo de perfil:</h3>
          <br />
          <p><%= user.first_name %> <%= user.last_name %></p>
        </article>
      </section>

      <section class="bottomProfile">
        <article class="title">
          <h2>Nombre</h2>
        </article>

        <form
          action="/users/myProfile/edit/?_method=PUT"
          method="post"
          enctype="multipart/form-data"
        >
          <article class="input-container">
            <label for="email">Email</label>
            <input
              name="email"
              type="email"
              class="inputs"
              value="<%= user.email %>"
            />
          </article>
          <article class="input-container">
            <label for="profile_picture">Imagen</label>
            <input
              name="profile_picture"
              id="profile_picture"
              accept=".jpg"
              type="file"
              class="inputs"
              required
            />
          </article>
          <article class="input-container">
            <label for="contact_number">Teléfono</label>
            <input
              name="contact_number"
              type="tel"
              class="inputs"
              value="<%= user.contact_number %>"
            />
          </article>
          <article class="input-container">
            <label for="address">Domicilio de entrega</label>
            <input
              name="address"
              class="inputs"
              type="text"
              value="<%= user.address %>"
            />
          </article>

          <button class="btn-yellow btn-edit">Actualizar Mis Datos</button>
        </form>
      </section>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
