<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/form-styles.css" />
  </head>

  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <form
        class="form"
        action="/users/create-new-user"
        method="POST"
        enctype="multipart/form-data"
      >
        <h2 class="title">Creación de usuarios</h2>

        <input class="input" type="text" id="firstName" name="firstName" placeholder="Nombre" value="<%= oldData ? oldData.firstName : "" %>" />

        <% if (errors && errors.firstName) { %>
        <div class="flash-errors"><%= errors.firstName.msg %></div>
        <% } %> 
        
        <input class="input" type="text" id="lastName" name="lastName" placeholder="Apellido" value="<%= oldData ? oldData.lastName : "" %>" />

        <% if (errors && errors.lastName)         { %>
        <div class="flash-errors"><%= errors.lastName.msg %></div>
        <% } %> 
        
        <input class="input" type="email" id="email" name="email" placeholder="Correo electrónico" value="<%= oldData ? oldData.email : "" %>" /> 
        
        <% if (errors && errors.email) { %> 
          <div class="flash-errors"><%= errors.email.msg %></div>
        <% } %>

        <input class="input" type="password" id="password" name="password" placeholder="Contraseña" />

        <% if (errors && errors.password) { %>
        <div class="flash-errors"><%= errors.password.msg %></div>
        <% } %> 
        
        <input class="input" type="number" name="contactNumber" id="contactNumber" placeholder="Número de teléfono" value="<%= oldData ? oldData.contactNumber : "" %>" /> 
        
        <% if (errors && errors.contactNumber) { %>
        <div class="flash-errors"><%= errors.contactNumber.msg %></div>
        <% } %> 
        
        <input class="input" type="date" name="birthDate" id="birthDate" placeholder="Ingresar fecha de nacimiento" value="<%= oldData ? oldData.birthDate : "" %>" /> 
        
        <% if (errors && errors.birthDate) { %> 
          <div class="flash-errors"><%= errors.birthDate.msg %></div>
        <% } %> 
        
        <input class="input" type="text" name="address" id="address" placeholder="Domicilio completo" value="<%= oldData ? oldData.address : "" %>" /> 
        
        <% if (errors && errors.address) { %>
        <div class="flash-errors"><%= errors.address.msg %></div>
        <% } %>


        <div class="buttons-container">
          <button type="submit" class="button">Crear usuario</button>
        </div>
      </form>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
