<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/my-profile.css" />
  </head>
  <body>
    <%- include('./partials/header.ejs') %>

    <main>
      <section class="info-profile-container">
        <article class="profile-picture">
          <img
            src="/images/users/<%= user.profile_picture %>"
            alt="fotoDePerfil"
          />
        </article>

        <article class="info-profile-container-desc">
          <h3>Tipo de perfil:</h3>
          <br />
          <p><%= user.first_name %> <%= user.last_name %></p>
        </article>
      </section>

      <section class="bottomProfile">
        <article class="title">
          <h2>Nombre</h2>
        </article>

        <form
          action="/users/myPassword/edit/?_method=PUT"
          method="post"
          enctype="multipart/form-data"
        >
          <article class="input-container">
            <label for="password">Contrase침a</label>
            <input
              name="password"
              type="password"
              class="inputs"
              placeholder="Ingres치 tu nueva contrase침a"
            />
          </article>

          <button class="btn-yellow btn-edit">Modificar Contrase침a</button>
        </form>
      </section>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
