<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/register.css" />
  </head>

  <body>
    <%- include('./partials/header.ejs') %>
    
    <main>
        <section class="register-container">
          <article class="register-title">
            <h1>E-BEER</h1>
            <p>Completá tus datos para registrarte</p>
          </article>
        
          <article class="form-container">
            <form
              action="/users/register"
              method="POST"
              enctype="multipart/form-data"
            >
              <h2 class="form-title">Datos personales</h2>
              
                <input
                  class="inputs"
                  type="text"
                  name="firstName"
                  id="firstName"
                  placeholder="Nombre"

                />

              <% if (errors && errors.firstName) { %>
                <p class="flash-errors"><%= errors.firstName.msg %></p>             
              <% } %>

                <input
                  class="inputs"
                  type="text"
                  name="lastName"
                  id="lastName"
                  placeholder="Apellido"
                  value="<%= oldData ? oldData.lastName : "" %>"
                />

              <% if (errors && errors.lastName) { %>
                <p class="flash-errors"><%= errors.lastName.msg %></p>             
              <% } %>

                <input
                  class="inputs"
                  type="email"
                  name="email"
                  id="email"
                  placeholder="Correo electrónico"
                  value="<%= oldData ? oldData.email : "" %>"
                />

              <% if (errors && errors.email) { %>
                <p class="flash-errors"><%= errors.email.msg %></p>             
              <% } %>

                <input
                  class="inputs"
                  type="password"
                  name="password"
                  id="password"
                  placeholder="Nueva contraseña"
                  value="<%= oldData ? oldData.password : "" %>"
                />

              <% if (errors && errors.password) { %>
                <p class="flash-errors"><%= errors.password.msg %></p>             
              <% } %>

                <input
                  class="inputs"
                  type="number"
                  name="contactNumber"
                  id="contactNumber"
                  placeholder="Número de teléfono"
                  value="<%= oldData ? oldData.contactNumber : "" %>"
                />

              <% if (errors && errors.contactNumber) { %>
               <p class="flash-errors"><%= errors.contactNumber.msg %></p>             
              <% } %>

                <input
                  class="inputs"
                  type="date"
                  name="birthDate"
                  id="birthDate"
                  placeholder="Ingresar fecha de nacimiento"
                  value="<%= oldData ? oldData.birthDate : "" %>"
                />

              <% if (errors && errors.birthDate) { %>
                <p class="flash-errors"><%= errors.birthDate.msg %></p>             
              <% } %>

                <input
                  class="inputs"
                  type="text"
                  name="address"
                  id="address"
                  placeholder="Domicilio completo"
                  value="<%= oldData ? oldData.address : "" %>"
                />

              <% if (errors && errors.address) { %>
               <p class="flash-errors"><%= errors.address.msg %></p>             
              <% } %>

              <section  class="picture-title">
              <label for="profilePicture"> <p>Seleccioná una foto de perfil</p></label> 
                <input
                  class="picture-data"
                  type="file"
                  name="profilePicture"
                  id="profilePicture"
                  accept=".jpg"
                />
              </section>
              <button type="submit" class="btn-yellow">Registrate</button>

              <section class="links-container">
                <a href="/users/login">¿Ya tenés cuenta? 
                  <span>Ingresá</span>
                </a>
              </section>
            </form>
        </article>
      </section>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
