<article class="card">
  <div class="card-image">
    <a href="/products/<%= product.id %>">
      <img src="/images/products/<%= product.image %>" alt="" />
    </a>
  </div>
  <div class="card-description">
    <h3><%= product.name %></h3>
    <p>$ <%= product.price %></p>
    <form action="/products/<%= product.id %>" method="POST">
      <button name="cartFilled" value='agregoUnProducto'>Añadir al carrito</button>
    </form>
  </div>
</article>
