<tbody>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.firstName %></td>
    <td><%= user.lastName %></td>
    <td><%= user.email %></td>
    <td><%= user.accessType %></td>
    <td><%= user.image %></td>
    <td><%= user.contactNumber %></td>
    <td><%= user.birthDate %></td>
    <td><%= user.address %></td>
    <td>
      <a href="/users/<%= user.id %>">
        <button class="btn-view">
          <i class="fa-solid fa-eye"></i>
        </button>
      </a>
    </td>
    <td>
      <a href="/users/<%= user.id %>/edit">
        <button class="btn-edit">
          <i class="fa-solid fa-pen-to-square"></i>
        </button>
      </a>
    </td>
    <td>
      <a href="/users/<%= user.id %>/delete">
        <button class="btn-delete">
          <i class="fa-solid fa-trash"></i>
        </button>
      </a>
    </td>
  </tr>
</tbody>